<div class="carousel">
  <div class="carousel__contenedor">
    <button aria-label="anterior" class="carousel__anterior"><i class="fa-solid fa-chevron-left"></i></button>

    <div class="carousel__lista">
      <div class="carousel__elemento">
          <img src="assets/img/2.jpg" alt="Spider-Man: No Way Home (2021)">
          <p>Spider-Man: No Way Home (2021)</p>
      </div>
      <div class="carousel__elemento">
        <img src="assets/img/3.jpg" alt="Encanto (2021)">
        <p>Encanto (2021)</p>
    </div>
    <div class="carousel__elemento">
      <img src="assets/img/4.jpg" alt="Scream (2022)">
      <p>Scream (2022)</p>
  </div>
  <div class="carousel__elemento">
    <img src="assets/img/5.jpg" alt="The Ice Age Adventures of Buck Wild (2022)">
    <p>The Ice Age Adventures of Buck Wild (2022)</p>
</div>
<div class="carousel__elemento">
  <img src="assets/img/6.jpg" alt="Texas Chainsaw Massacre (2022)">
  <p>Texas Chainsaw Massacre (2022)</p>
</div>
<div class="carousel__elemento">
  <img src="assets/img/7.jpg" alt="Eternals (2021)">
  <p>Eternals (2021)</p>
</div>
<div class="carousel__elemento">
  <img src="assets/img/8.jpg" alt="Hotel Transylvania: Transformania (2022)">
  <p>Hotel Transylvania: Transformania </p>
</div>
<div class="carousel__elemento">
  <img src="assets/img/9.jpg" alt="My Hero Academia: World Heroes' Mission (2021)">
  <p>My Hero Academia: World Heroes' Mission (2021)</p>
</div>
<div class="carousel__elemento">
  <img src="assets/img/10.jpg" alt="Sing 2 (2021)">
  <p>Sing 2 (2021)</p>
</div>
<div class="carousel__elemento">
  <img src="assets/img/11.jpg" alt="Venom: Let There Be Carnage (2021)">
  <p>Venom: Let There Be Carnage (2021)</p>
</div>
    </div>
    <button aria-label="siguiente" class="carousel__siguiente"><i class="fa-solid fa-chevron-right"></i></button>
  </div>
  <div role="tablist" class="carousel__indicadores"></div>
</div>
