<main>
  <div class="info">
    <H2 class="titulo">Vikingos: Valhalla (2022)</H2>
    <p class="textos">
      Secuela de 'Vikingos' ambientada 100 años después y centrada en las aventuras de Leif Erikson, Freydis, Harald Hardrada y el rey normando Guillermo el Conquistador.
    </p>
    <button type="button" class="btn btn-primary" role="button"> <i class="fa-solid fa-play"></i> Reproducir</button>
    <button type="button" class="btn btn-primary" role="button"><i class="fa-solid fa-circle-info"></i> Mas informacion</button>
  </div>
</main>
